# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
client/node_modules/

# Build directories
build/
client/build/
dist/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Ignore coverage directory used by testing tools
coverage/

# Ignore lock files
package-lock.json
yarn.lock

# Ignore the client/.env file
.env